.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.similar {
  display: inline-block;
}

/*#chartjs {
  width: 800px;
  height: 400px;
}*/
