.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

/*.graphic {
  margin: 15px 0 0 0;
  padding: 40px 5%;
  background: #222;
  overflow: hidden;
}

.graphic a {
  color: white;
  text-decoration: none;
}

.graphic a:hover {
  text-decoration: underline;
}

h2 {
  font: 100 42px "nyt-cheltenham", Georgia;
  color: #fff;
  padding: 0 0 20px 0;
  margin: 40px 0;
  border-bottom: solid 1px #666;
}

.collection {
  position: relative;
  text-align: left;
  height: 320px;
  font-family: "nyt-franklin", Arial;
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

.collection:last-child {
  border-bottom: none;
}

.collection canvas,
.collection img {
  border: solid 1px #444;
  border-top-color: #000;
  border-bottom-color: #555;
  background: #000;
  position: absolute;
  left: 260px;
  top: 0;
}

.collection .description {
  font-size: 15px;
  line-height: 1.4em;
  margin: 0 20px 0 0;
  color: #999;
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
}

.collection .description h3 {
  display: inline;
  color: #ddd;
  font-size: 22px;
  font-weight: 200;
  margin: 0 0 0 0;
}

.description p {
  margin: 4px 0;
}

.description p.related {
  font-size: 12px;
  margin-top: 6px;
  padding-top: 6px;
  border-top: solid 1px #333;
}

.collection .collection-button {
  background: #2c2c2c;
  color: #666;
  border-radius: 2px;
  margin: 6px 0;
  padding: 1px 6px 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 9px;
  font-family: Arial;
}

.annotations {
  font-family: Arial;
  position: absolute;
  left: 255px;
  top: 225px;
  margin: 0;
  padding: 0;
  height: 50px;
}

.annotations li {
  position: absolute;
  top: 10px;
  margin: 0;
  list-style-type: none;
  padding: 10px 0 0 10px;
}

.annotation {
  position: relative;
  background: #222;
  font-size: 11px;
  line-height: 12px;
  color: #888;
  width: 90px;
  height: 50px;
  -webkit-text-size-adjust: 85%;
  text-shadow: 0 1px 0 #000;
}

.annotation:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  top: 0;
  left: -20px;
  height: 60px;
  border-right: solid 10px #222;
  background: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(34,34,34,0)), to(#222));
  background-image: -webkit-linear-gradient(left, rgba(34,34,34,0), #222);
  background-image: -moz-linear-gradient(left, rgba(34,34,34,0), #222);
  background-image: -o-linear-gradient(left, rgba(34,34,34,0), #222);
  background-image: linear-gradient(to right, rgba(34,34,34,0), #222);
}

.annotation-bar {
  position: absolute;
  min-width: 1px;
  left: 11px;
  right: -1px;
  top: 0;
  border-bottom: solid 1px;
  border-right: solid 1px;
  border-left: solid 1px;
  border-color: #666;
  height: 3px;
}

.collection-fingerprints {
  margin-top: 80px;
}

.collection-fingerprint {
  background-image: url(http://graphics8.nytimes.com/newsgraphics/2013/09/13/fashion-week-editors-picks/e2e355157a66c53141657c4af5431fed6add83f7/fingerprints.jpg);
  border-bottom-color: #777;
  border-top-color: #000;
  border: solid 1px #555;
  display: inline-block;
  height: 39px;
  margin: 0 30px 40px 0;
  padding: 0;
  position: relative;
  width: 90px;
}

.collection-fingerprint span {
  position: absolute;
  bottom: 46px;
  color: #999;
  font: 11px Arial;
}

.collection-fingerprint:hover span {
  text-decoration: underline;
}*/
