<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="home"> Home </a></li>
        <li><a ui-sref="movie"> Movies </a></li>
        <li><a ui-sref="signup" ng-hide="user.isAuthed()"> Sign Up </a></li>
        <li><a ui-sref="login" ng-hide="user.isAuthed()"> Login </a></li>
        <li ng-show="user.isAuthed()"><a ui-sref="profile"> Profile</a></li>
        <li ng-show="user.isAuthed()" ng-click="user.logout()"><a ui-sref="home">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<h1 ng-init="info.getDetails()">Dashboard</h1>
<h5>{{info.movie.title}}</h5>
