<!-- <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="home"> Home </a></li>
        <li><a ui-sref="movie"> Movies </a></li>
        <li><a ui-sref="signup" ng-hide="user.isAuthed()"> Sign Up </a></li>
        <li><a ui-sref="login" ng-hide="user.isAuthed()"> Login </a></li>
        <li ng-show="user.isAuthed()"><a ui-sref="profile"> Profile</a></li>
        <li ng-show="user.isAuthed()" ng-click="user.logout()"><a ui-sref="home">Logout</a></li>
      </ul>
    </div>
  </nav>
</div> -->

<!-- Basic Movie Facts-->
<h3 ng-init="info.getDetails(); info.findSimilar()" ng-model="info.title">{{info.movie.title}}</h3>
<img ng-src="http://image.tmdb.org/t/p/w500{{info.movie.poster_path}}" alt="" height="250px" width="200px"/>
<h5>{{info.release}}</h5>
<!--End Basic Movie Facts-->

<button ng-click="info.addMovie()">Add Movie</button>
{{user.user._id}}

<!--Buttons to toggle between graphs and overview-->
<button ng-click="info.overview = true; info.main = true" ng-hide="info.overview">Overview</button>
<button ng-click="info.main = false; info.overview = false" ng-show="info.main">Dashboard</button>

<!-- Movie Overview -->
<div ng-show="info.overview">{{info.movie.overview}}</div>

<!-- Fill Gauge Graphs -->
<div class="row" ng-hide="info.overview">
  <div class="col s12 m4 center-align">
        <h5>Revenue</h5>
        <p>(in millions)</p>
          <d3-chart id="fill1" revenue="{{info.revenue}}"></d3-chart>
  </div>
  <div class="col s12 m4 center-align">
        <h5>Rating</h5>
        <p>(voter average)</p>
          <d3-chart id="fill2" rating="{{info.rating}}"></d3-chart>
  </div>
  <div class="col s12 m4 center-align">
        <h5>Budget</h5>
        <p>(in millions)</p>
          <d3-chart id="fill3" budget="{{info.budget}}"></d3-chart>
  </div>
</div>
<!-- End Fill Gauge Graphs -->

<!-- <div class="graphic">
  <div class="editor-picks">
    <div class="collection" data-slug="calvin-klein" data-size="35">
      </div></div></div> -->
<div class="graphic">
  <div class="similar-films">
    <div class="collection" data-slug="films" data-size="35">
      <div ng-repeat="similar in info.similarFilms">
        {{similar.title}}
        <br>
        <img  ui-sref="dashboard({id: similar.id})" ng-click="movies.getOne()" ng-src="http://image.tmdb.org/t/p/w500{{similar.poster_path}}" alt="" width="150px" height="200px" />
      </div>
      </div>
    </div>
  </div>
