<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="home"> Home </a></li>
        <li><a ui-sref="movie"> Movies </a></li>
        <li><a ui-sref="signup" ng-hide="user.isAuthed()"> Sign Up </a></li>
        <li><a ui-sref="login" ng-hide="user.isAuthed()"> Login </a></li>
        <li ng-show="user.isAuthed()"><a ui-sref="profile"> Profile</a></li>
        <li ng-show="user.isAuthed()" ng-click="user.logout()"><a ui-sref="home">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<h1>Movie</h1>

<div class="container" ng-init="movies.getMovies()">
  <div class="row">
    <div ng-repeat="r in movies.recent">{{r.title}} <br> <img ng-src="http://image.tmdb.org/t/p/w500{{r.poster_path}}" alt="" width="150px" height="200px" /></div>
   </div>

 </div>
