<!-- Title + Search Bar -->
<div class="container">
  <div class="row">
    <div class="col s12 m7 l7 offset-l2 offset-m2">
      <h1 class="header-font center-align" ng-show="!movies.searches">Now Playing</h1>
      <h1 class="header-font center-align" ng-show="movies.searches">Search Results</h1>
    </div> <!-- End Col -->
    <div class="col s12 m3 l3">
      <form ng-submit="movies.findMovie()" ng-init="movies.getMovies()">
       <div class="input-field">
         <input ng-model="movies.searchField" id="search" type="search" required>
         <label for="search"><i class="material-icons">search</i></label>
         <button type="submit" ng-click="movies.searches = true" style="background-color:#632B2B; color:#EBE5E5" class="waves-effect btn">Search</button>
       </div>
      </form>
    </div> <!-- End Col -->
  </div> <!-- End Row -->
</div>  <!-- End Container -->
<!-- Title + Search Bar -->

<!-- Recent Movies -->
<div class="container" ng-hide="movies.searches">
  <div class="row">
    <div ng-repeat="r in movies.recent" class="col s12 l4 m4 center-align">
      <span class="header-font">{{r.title}}</span>
      <img id="now-playing" ui-sref="dashboard({id: r.id})" ng-click="movies.getOne()" ng-src="http://image.tmdb.org/t/p/w500{{r.poster_path}}" class="responsive-img z-depth-3 materialboxed"/>
    </div>
   </div>
 </div>
 <!-- Recent Movies -->

<!-- Search Results-->
  <div class="collection" ng-show="movies.searches">

       <a href="#!" id="search-results" class="collection-item" ng-repeat="result in movies.searchResults" ui-sref="dashboard({id: result.id})"><span ng-click="movies.searches = false" ui-sref="dashboard({id: result.id})">{{result.title}}</a>
    </div>
 <!-- Search Results -->
