<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="home"> Home </a></li>
      <li><a ui-sref="movie"> Movies </a></li>
      <li ng-show="user.isAuthed()"><a ui-sref="profile"> Profile</a></li>
      <li ng-click="user.logout()"><a ui-sref="home"> Logout</a></li>
    </ul>
  </div>
</nav>
</div>

{{details.title}}
{{user.user.email}}

<!-- <h5 ng-model="user.name" ng-hide="user.editable"> Name: {{user.name}} </h5>
<input ng-model="user.name"  ng-show="user.editable" value="{{user.name}}">

<h5 ng-model="user.email" ng-hide="user.editable"> Email: {{user.email}} </h5>
<input ng-model="user.email"  ng-show="user.editable" value="{{user.email}}">

<h5 ng-model="user.password" ng-hide="user.editable"> Password: {{user.password}} </h5>
<input ng-model="user.password"  ng-show="user.editable" value="{{user.password}}">

<button ng-show="user.editable" ng-click="user.editable = false; user.updateUser(user.user)">Save</button>
<button ng-hide="user.editable"  ng-click="user.editable = true">Edit</button> -->
