  <!-- <div class="navbar-fixed" ng-init="user.getUserMovies()">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="home"> Home </a></li>
        <li><a ui-sref="movie"> Movies </a></li>
        <li><a ui-sref="profile"> Profile</a></li>
        <li ng-click="user.logout()"><a ui-sref="home"> Logout</a></li>
      </ul>
    </div>
  </nav>
  </div> -->

<!-- USER EDIT -->
<button ng-click="user.show(); user.show = false">Show</button>


<div ng-hide="user.show">
  <h5>{{user.user.email}}</h5>
  <button ng-click="user.edit()">Edit</button>
</div>

<form ng-if="user.editing" ng-submit="user.update()">
	<input ng-model="user.editingUser.email" type="text" placeholder="Email">
	<button type="submit">Update User!</button>
</form>
<!-- USER EDIT -->

<!-- MOVIE INFO -->
<div class="container" ng-init="user.getUserMovies()">
  <div class="row">
    <div ng-repeat="film in user.userMovies" >{{film.title}} {{film._id}}
      <br>
      <img  ui-sref="dashboard({id: film.id})" ng-src="http://image.tmdb.org/t/p/w500{{film.poster}}" alt="" width="150px" height="200px" />
      <button ng-click="user.removeMovie(film)">Delete Film</button>
    </div>
   </div>
 </div>
 <!-- MOVIE INFO -->

 <!-- D3 CHART -->
 <!-- <profile-chart id="profile" budget={{user.budgets}} revenue={{user.revenues}} rating={{user.ratings}} ng-if="user.budgets"></profile-chart> -->

 <profile-chart id="scatter" budget={{user.budgets}} revenue={{user.revenues}} rating={{user.ratings}} ng-if="user.budgets"></profile-chart>
  <!-- D3 CHART -->
