<div class="container" ng-init="user.getUserMovies()">
  <div class="row">
    <h2 class="header-font center-align" ng-show="!user.analyze">Saved Films</h2>
    <h2 class="header-font center-align" ng-show="user.analyze">Film Comparison</h2>
  </div>



<!-- <div class="container" ng-init="user.getUserMovies()">
  <div class="row">
    <div ng-repeat="film in user.userMovies" >{{film.title}}
      <br>
       <img ui-sref="dashboard({id: film.id})" ng-src="http://image.tmdb.org/t/p/w500{{film.poster}}" alt="" width="150px" height="200px"/>  <i class="medium material-icons" ng-click="user.removeMovie(film)">delete</i>
    </div>
   </div>
 </div> -->

<!-- MOVIE INFO -->
     <div class="row" ng-show="!user.analyze">
       <div ng-repeat="film in user.userMovies" class="col s12 l4  center-align ">
         <span class="header-font">{{film.title}}</span>
            <img ui-sref="dashboard({id: film.id})" ng-src="http://image.tmdb.org/t/p/w500{{film.poster}}" class="responsive-img z-depth-3"/>  <i class="medium material-icons" ng-click="user.removeMovie(film)" style="color:#AB4A4A">delete</i>
       </div>
     </div>

<div class="row center-align">
  <a class="waves-effect btn" style="background-color:#AB4A4A" ng-click="user.getBarChart()" ng-show="!user.analyze">Compare Films</a>
  <a class="waves-effect btn" style="background-color:#AB4A4A" ng-click="user.analyze = false" ng-show="user.analyze">Back</a>
  <!-- <button ng-click="user.analyze = true" ng-show="!user.analyze"> Compare Movies </button> -->
  <!-- <button ng-click="user.analyze = false" ng-show="user.analyze"> Done </button> -->
</div>

 <!-- MOVIE INFO -->

 <!-- D3 CHART -->
 <div ng-show="user.analyze">
   <profile-chart id="scatter" budget={{user.budgets}} revenue={{user.revenues}} rating={{user.ratings}} title={{user.titles}} ng-if="user.budgets"></profile-chart>
 </div>
  <!-- D3 CHART -->

  <!-- BAR CHART -->
  <!-- <a class="waves-effect btn" ng-click="user.getBarChart()" style="background-color:#AB4A4A">Get Bar Chart</a> -->
  <div class="row">
    <canvas id="chartjs" tc-chartjs-bar chart-options="user.options" chart-data="user.data"></canvas>
  </div>
  <!-- BAR CHART -->

<!-- USER EDIT -->
<div class="row center-align">
    <a  class="waves-effect btn" ng-click="user.display()"  ng-show="!user.active" style="background-color:#632B2B">Account Information</a>
    <div ng-show="!user.editing" ng-hide="!user.active" class="profile-info center-align">
      <h2 class="center-align">Account Information</h2>
      <h5 class="center-align"> Email: {{user.user.email}}</h5>
        <a  class="waves-effect btn" ng-click="user.edit()" style="background-color:#AB4A4A">Edit</a>
        <a  class="waves-effect btn" ng-click="user.active = false" style="background-color:#AB4A4A">Close</a>
    </div>

  <div ng-if="user.editing" class="profile-info center-align">
    <form ng-if="user.editing" ng-submit="user.update()">
      <input ng-model="user.editingUser.email" type="text" placeholder="Email">
      <button type="submit" class="waves-effect btn" style="background-color:#AB4A4A">Update Account</button>
      <button ng-click="user.delete()" class="waves-effect btn" style="background-color:#AB4A4A" ui-sref="movie">Delete Account</button>
      <!-- <button type="submit">Update User!</button> -->
      <!-- <button ng-click="user.delete()" ui-sref="movie">Delete Account</button> -->
    </form>
  </div>
</div>
<!-- USER EDIT -->

<!-- <button ng-click="user.display()" ng-show="!user.active">Show</button> -->

<!-- <div ng-show="!user.editing" ng-hide="!user.active">
  <h5>{{user.user.email}}</h5>
  <button ng-click="user.edit()">Edit</button>
</div> -->

<!-- <form ng-if="user.editing" ng-submit="user.update()">
	<input ng-model="user.editingUser.email" type="text" placeholder="Email">
	<button type="submit">Update User!</button>
	<button ng-click="user.delete()" ui-sref="movie">Delete Account</button>
</form> -->

</div> <!-- End Container -->
