<!-- <div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="home"> Home </a></li>
      <li><a ui-sref="movie"> Movies </a></li>
      <li><a ui-sref="login"> Login </a></li>
      <li><a ui-sref="signup"> Sign Up </a></li>
    </ul>
  </div>
</nav>
</div> -->

<input type="text" ng-model="global.registerUser.email" placeholder="email"><br>
<input type="password" ng-model="global.registerUser.password" placeholder="password"><br>
<br>

<button ng-click="global.register()">Register</button>

<br><br>
{{user.message}}
